<div class="container my-4">
  <div class="row">
    <div class="col">
      <% @orders.each do |order| %>
        <div class="card p-3 mb-3">
          <% order.line_items.each do |line_item| %>
            <% if item = line_item.item %>
              <%= line_item.item.title %> (<%= number_with_delimiter (line_item.price) %> 원 * <%= line_item.price %> 개)
            <% else %>
              삭제된 상품 입니다
            <% end %>
          <% end %>
          <hr>
          <%= number_with_delimiter order.total %> 원
        </div>
      <% end %>
    </div>
  </div>
</div>
