<div class="container my-5">
  <div class="row">
    <div class="col-12">

          <% if @order.line_items.blank? %>
            <div class="card p-3 text-center">
              장바구니가 비었습니다
            </div>
          <% end %>

          <% @order.line_items.each do |line_item| %>
          <div class="card p-3 mb-4">
            <%= line_item.item.title %>
            <%= line_item.amount %> 개
          </div>
          <% end %>
          <p>
            합계 : <%= number_with_delimiter @order.total %>
          </p>
        <%= link_to "주문하기", add_item_path(@order), class: "btn btn-primary" %>

    </div>
  </div>
</div>
